* {
	font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
	color: #222222;
}
body {
	width: 70%;
	margin: 80px auto;
	background-color: #eee;
}
	h1 {
		font-size: 28px;
	}
	form input {
		height: 32px;
		padding: 0;
		padding-left: 4px;
		border: none;
		outline: none;
	}
	form input[type="submit"] {
		-webkit-appearance: button;
		width: 136px;
		padding: 0 8px;
		background-color: limegreen;
	}
	ul {
		padding: 0;
	}
		li {
			list-style-type: none;
			margin-bottom: 8px;
			padding: 8px;
			width: 380px;
			height: 32px;
			line-height: 32px;
			background-color: white;
			border-bottom: 2px solid gray;
			border-right: 1px solid gray;
		}
			li a, input {
				margin-right: 12px;
			}
			li .name, input {
				display: inline-block;
				width: 240px;
			}
			li a {
				text-decoration: none;
			}
			li a[data-task-del] {
				color: red;
			}
			li a[data-task-save] {
				color: green;
			}
			li a[data-task-edit], li a[data-task-cancel] {
				color: black;
			}
			li a[data-task-edit] {
				margin-left: 60px;
			}
			li input {
				background-color: #eee;
				border-bottom: 1px solid lightgray;
			}
